{% extends "base.html" %}
{% block title %}Obrazy{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Lista obrazów</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Token</th>
                <th>Nazwa</th>
                <th>IP VPN</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.token }}</td>
                    <td>{{ image.name }}</td>
                    <td>{{ image.vpn_ip }}</td>
                    <td>
                        <form action="{{ url_for('delete', image_id=image.id) }}" method="post">
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}